target/
/target/
!/target/classes/application.yml
!/target/classes/application.properties

*.log
logs/

.idea/
*.iml
*.iws

.classpath
.project
.settings/

.vscode/

.DS_Store
Thumbs.db

/lib/
/m2-repo/

*.jar
*.war
*.ear
hs_err_pid*